<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>

<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h1>You are logged in as <span th:text="${user.firstName}"></span></h1>
		</div>
		<div class="col-md-6 d-flex flex-row-reverse">
			<a th:href="@{/}" class="btn btn-warning">Logout</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a th:href="@{'/ChangePassword/' + ${user.userId}}">Update Password</a>
		</div>
	</div>
</div>



</body>
</html>